{% extends "base.twig" %}

{% block below_header %}

    <div class="u-wrapper generic-hero">
        <h1 class="u-white-text u-ptb-8 u-text-center generic-hero__title">{{ post.title }}</h1>
    </div>

    <div class="u-shadow u-wrapper account-overview-topbar">
        <div class="u-wrapper u-wrapper--narrow account-overview-topbar__inner-wrapper">
            <h2>Account Overview</h2>
            <p>{{ post.get_field('account_overview') }}</p>
        </div>
    </div>

{% endblock %}

{% block content %}

<div class="u-wrapper--narrow u-wrapper u-mb-2">

    {% if post.content %}
        <div>
            {{ post.content }}
        </div>
    {% endif %}

    {% for item in post.get_field('account_tables') %}
        {% set item = TimberPost(item) %}
        {% set table = item.get_field('table') %}
        {% if ( table ) %}
            <div class="pattern-table pattern-table__{{ table.body[0]|length }}-columns u-mb-4">
                {% if item.get_field('heading') %}
                    <div class="pattern-table__heading">{{ item.get_field('heading') }}</div>
                {% endif %}
                <table>
                    {% if table.header %}
                        <thead>
                            <tr>
                                {% for th in table.header %}
                                    {# c is the table cell content #}
                                    <th>{{ th.c }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                    {% endif %}
                    <tbody>
                        {% for tr in table.body %}
                            <tr>
                                {% for td in tr %}
                                    {# c is the table cell content #}
                                    <td>{{ td.c }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                    <div>*Annual Percentage Yield. Accurate as of {{ item.post_modified | date('F j, Y') }}</div>

					{# IRA Has Variable Rates Description in the notes #}
					{% if item.get_field('notes') %}
                    	<div>{{ item.get_field('notes') }}</div>
                	{% endif %}
            </div>
        {% endif %}
    {% endfor %}


    {% if post.get_field('account_features') %}
        <div class="h3">Account Features</div>

        <div class="account-overview-features u-mb-4">
            <ul>
                {% for item in post.get_field('account_features') %}
                    <li>
                        <a href="{{ item.link.url }}">
                            <div class="account-overview-features__icon">{% include 'svg/' ~ item.icon ~ '.svg' %}</div>
                            <div>{{ item.link.title }}</div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if post.get_field('account_details') %}
        <h6 class="h3">Account Details</h6>
        <div class="account-overview-details u-mb-4">
            <ul>
                {% for detail in post.get_field('account_details') %}
                <li>
                    <div class="u-bold">{{ detail.title }}</div>
                    <p>{{ detail.text }}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}


</div>
   
{% endblock %}