{% extends "base.twig" %}

{% block below_header %}

    <div class="u-wrapper generic-hero">
        <h1 class="u-white-text u-ptb-8 u-text-center generic-hero__title">{{ post.title }}</h1>
    </div>

{% endblock %}

{% block content %}
    <div class="u-wrapper u-mbt-4">
        
        {% if ( table ) %}
            <div class="pattern-table pattern-table__{{ table.body[0]|length }}-columns responsive u-mb-4">
                <table>
                    {% if table.header %}
                        <thead>
                            <tr>
                                {% for th in table.header %}
                                    {# c is the table cell content #}
                                    <th>{{ th.c }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                    {% endif %}
                    <tbody>
                        {% for tr in table.body %}
                            <tr>
                                {% for td in tr %}
                                    {% set datacolumn = '' %}
                                    {% if table.header %}
                                        {% set datacolumn = table.header[loop.index0].c %}
                                    {% endif %}
                                    {# c is the table cell content #}
                                    <td data-column="{{datacolumn}}">{{ td.c }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}

        <div class="u-bold">APY* Accurate as of {{ function(['FSBSite', 'auto_update_apy_rates'])|date('F j, Y') }}</div>
		<div>{{ post.content }}</div>

    </div>

{% endblock %}