{% block html_head_container %}
	{% include 'html-header.twig' %}
	{% block head %}
		{# Include extra stuff in the document head #}
	{% endblock %}
	<style>
	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
		/* IE10+ CSS styles go here */
		#header  { display: block !important; }
	}
	</style>
	</head>
{% endblock %}

	<body class="{{ body_class }}" data-template="base.twig">

		{% if options.show_announcements %}
			<div class="announcements-bar" style="background-color: {{ options.bar_color_picker }}">
				<span class="screen-reader-text">Important Announcements</span>
				<p><span class="u-extra-bold">{{ options.announcement_title }}:</span> {{ options.announcement_message }}</p>
			</div>
		{% endif %}

		{% block header %}
			<div class="header-wrapper" {% if hero_image %} style="background-image: url({{ hero_image.src|resize(1440) }})" {% endif %}>
				<div class="blender"> <!-- blending for main nav bar -->
					<header id="header" class="header"><!-- #header open -->
						<div class="nav-blue-bar"></div>
						<div class="nav-wrapper">
							<nav id="nav-main" role="navigation">
								<a id="header-logo" href="/"><img src="{{ theme.link }}/static/images/logo.png" alt="Logo" /><span class="screen-reader-text">{{ site.name }}</span></a>
								
								<a id="header-mobile-logo" href="/"><img src="{{ theme.link }}/static/images/logo.png" alt="Logo" /><span class="screen-reader-text">{{ site.name }}</span></a>
								
								<div class="menu-toggle-container u-hide-tablet">
									<button id="menu-toggle" class="nav-toggle button"><img src="{{ theme.link }}/static/images/menu.png" alt="menu" /><span class="screen-reader-text">Menu</span></button>
								</div>

								<div class="login-toggle-container u-hide-tablet">
									<button id="login-toggle" class="nav-toggle button"><img src="{{ theme.link }}/static/images/login.png" alt="login" /><span class="screen-reader-text">Login</span></button>
								</div>

								<div class="nav-inner-wrap">
									{{ function('fsb_render_primary_menu') }}
								</div>

								<div id="remote-login">
									<div class="remote-login__header-wrapper">
										<span class="u-mr-2 remote-login__header">Online Banking</span>
										<button @click="currentTab = 'personal'" :class="{ active: currentTab === 'personal' }" class="switch-type">Personal</button>
										{# <button @click="currentTab = 'business'" :class="{ active: currentTab === 'business' }" class="switch-type">Business</button> #}
										<a class="button switch-type outgoing" href="https://web10.secureinternetbank.com/EBC_EBC1151/Login/101105927/6445/">Business</a>
									</div>
									<div id="fiservROLoginContainer" v-if="currentTab === 'personal'">
										<form @submit.prevent="sendEvent('Retail', $event)" method="post" id="retail" name="retail" action="https://web10.secureinternetbank.com/pbi_pbi1151/login/remote/101105927/1">
											<div class="input-group">
												<label>
													<span class="screen-reader-text">Access ID</span>
													<input type="text" name="username" placeholder="Username" ref="personal">
												</label>
											</div>
											<div class="input-group">
												<label>
													<span class="screen-reader-text">Password</span>
													<input type="password" name="password" placeholder="Password">
												</label>
												<button type="submit"><span class="screen-reader-text">Login</span>{% include 'svg/arrow.svg' %}</button>
											</div>
										</form>
										<div>
											<a href="{{ options.personal_enroll_link }}" class="small u-mr-2 outgoing">Enroll Now</a>
											<a href="{{ options.personal_password_link }}" class="small gray outgoing">Forgot your password?</a>
										</div>
									</div>
									<div id="fiservBOLoginContainer" v-if="currentTab === 'business'">
										<form @submit.prevent="sendEvent('Business', $event)" method="POST" action="https://web10.secureinternetbank.com/ebc_ebc1151/Login/Remote/101105927/6445" id="ebc-form">
											<div class="input-group">
												<label>
													<span class="screen-reader-text">Username</span>
													<input id="ebc-username" type="text" name="username" placeholder="Username" ref="business">
												</label>
											</div>
											<div class="input-group">
												<label>
													<span class="screen-reader-text">Password</span>
													<input id="ebc-password" type="password" name="password" placeholder="Password">
												</label>
												<button type="submit"><span class="screen-reader-text">Login</span>{% include 'svg/arrow.svg' %}</button>
											</div>
										</form>
										<div>
											<a href="{{ options.business_enroll_link }}" class="small u-mr-2 outgoing">Enroll Now</a>
											<a href="{{ options.business_password_link }}" class="small gray outgoing">Forgot your password?</a>
										</div>
									</div>
								</div>
							</nav>
						</div>
						<div class="nav-transparent-bar"></div>
						{% block inside_header %}
						{% endblock %}
					</header><!-- #header close -->
				</div> {# /.blender close #}
				{% block below_header %}
					{% if post.thumbnail %}
						<div class="pattern-header-image" style="background-image: url({{ TimberImage(post.thumbnail).src('xlarge') }});"></div>
					{% endif %}
				{% endblock %}
			</div>
		{% endblock %}

		{% block above_content %}
		{% endblock %}

		<section id="content" role="main" class="content-wrapper">
			<div id="vue-wrapper">
			{% block page_header %}
			{% endblock %}
			{% block content %}
				Sorry, no content
			{% endblock %}
			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
			</div> <!-- #vue-wrapper -->
		</section>

		{% block below_content %}
		{% endblock %}

		{% block above_footer %}
			{% if post.get_field('footer_cta') %}
				{% set cta = TimberPost(post.get_field('footer_cta')) %}
				<div class="u-mbt-4 u-wrapper pattern-footer-cta">
					<span class="pattern-footer-cta__title">{{ cta.title }}</span>
					{% if cta.get_field('pdf_notice') %}
						{% set footer_cta_class = 'pdf-application-notice' %}
					{% else %}
						{% set footer_cta_class = '' %}
					{% endif %}
					<a class="button white {{ footer_cta_class }} " href="{{ cta.get_field('link').url }}">{{ cta.get_field('link').title }}</a>
				</div>
			{% endif %}
		{% endblock %}

		{% block footer %}
			<footer id="footer">
				{% block inside_footer %}
				{% endblock %}
				<div class="footer-quicklinks">
					<div class="u-wrapper">
						<span class="footer-quicklinks__item">
							<a href="https://www.facebook.com/bankwithfarmers/?rf=167291796614219" target="_blank">
								{% include 'svg/fb.svg' %}
							</a>
						</span>
						<span class="footer-quicklinks__item">
							{% include 'svg/routing.svg' %} Routing Number: 101105927
							<span class="nmls-num">NMLS Number: 403435</span>
						</span>
						<img src="{{ theme.link }}/static/images/fdic-ehl.png" alt="Member FDIC and Equal Housing Lender" />
					</div>
				</div>
				<div class="footer-inner-wrapper u-wrapper">
					<div class="footer-location-info">
						<div class="footer-location-info__item">
							<div class="footer-header">Westmoreland</div>
							<div>T: <a href="tel:(785) 457-3316">(785) 457-3316</a></div>
							<div class="u-mb-1">F: (785) 457-3798</div>
							<div>P.O. Box 330</div>
							<div>307 Main Street</div>
							<div>Westmoreland, KS 66549</div>
						</div>
						<div class="footer-location-info__item">
							<div class="footer-header">Manhattan</div>
							<div>T: <a href="tel:(785) 539-9002">(785) 539-9002</a></div>
							<div class="u-mb-1">F: (785) 539-9004</div>
							<div>8685 E HWY 24</div>
							<div>Manhattan, KS 66502</div>
						</div>
						<div class="footer-location-info__item">
							<div class="footer-header">Onaga</div>
							<div>T: <a href="tel:(785) 889-4211">(785) 889-4211</a></div>
							<div class="u-mb-1">F: (785) 889-4934</div>
							<div>P.O. Box 180</div>
							<div>301 Leonard Street</div>
							<div>Onaga, KS 66521</div>
						</div>
						<div class="footer-location-info__item">
							<div class="footer-header">Mobile App</div>
							<div class="app-store-icons">
								<a class="external" href="https://itunes.apple.com/us/app/bank-with-farmers/id1180740274?mt=8"><img src="{{ theme.link }}/static/images/apple-app-store.png" alt="Get the mobile IOS App" /></a>
							</div>
							<div class="app-store-icons">
								<a class="external" href="https://play.google.com/store/apps/details?id=com.fsbwestmoreland.mobile"><img src="{{ theme.link }}/static/images/google-app-store.png" alt="Get the mobile Android App" /></a>
							</div>
						</div>
					</div>
					<div class="footer-menu-wrapper">
						<div class="footer-header">Helpful Links</div>
						{{ function('fsb_render_footer_menu') }}
					</div>
				</div>

				<div class="u-wrapper footer-meta u-mb-2">
					<div class="privacy-links">
						<a href="{{ options.liability_disclosure }}">Site Liability Disclosure</a>
						<span>&emsp;</span>
						<a href="{{ options.privacy_policy }}">Site Privacy Policy</a>
					</div>
					<div class="copyright">Copyright &copy; {{ year }} - Farmers State Bank - All Rights Reserved</div>
					<div class="agency">
						Design &amp; Development by <a href="https://weare502.com" rel="nofollow"><img src="{{ theme.link }}/static/images/502-logo.png" alt="502 Logo"></a>
					</div>
				</div>
				
			</footer>
		{% endblock %}
			
		<div id="fsb-fullscreen" class="magnific mfp-hide">
			{% block fullscreen_popup %}
			{% endblock %}
		</div>

		{% include 'vue-templates.twig' %}
	
		{% block footer_scripts %}
			{# Include extra stuff in the document footer, JS etc #}
		{% endblock %}
		{{ function('wp_footer') }}
		{# <script src="https://use.typekit.net/fzq0npq.js"></script>
		<script>try{Typekit.load({ async: true });}catch(e){}</script> #}

		<script type="text/javascript" src="https://web10.secureinternetbank.com/EBC_EBC1151/js/RemoteLogon"></script>
		<script>
			var submitCallback = function() {
				console.log("submit");
			}

			var errorCallback = function() {
				console.log("error");
			}

			var args = {
				//errorCallback: errorCallback,
				//Optional call to custom JavaScript for error handling
				//submitCallback: submitCallback,
				//Optional call to custom JavaScript for submission handling
				//profileNumber: TT, //Optional
				applicationPath: "https://web10.secureinternetbank.com/EBC_EBC1151",
				formId: "ebc-form",
				passwordId: "ebc-password",
				errorCallback: errorCallback, //Optional
				routingTransit: "101105927",
				submitCallback: submitCallback, //Optional
				profileNumber: 6445, // Optional
				usernameId: "ebc-username"
			};
			new EBC.RemoteLogin(args);
		</script>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		{# <script async src="https://www.googletagmanager.com/gtag/js?id=UA-83196829-13"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-83196829-13');
		</script> #}
		<!-- Hotjar Tracking Code for https://bankwithfarmers.com/ -->
		<script>
			(function(h,o,t,j,a,r){
				h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
				h._hjSettings={hjid:1033988,hjsv:6};
				a=o.getElementsByTagName('head')[0];
				r=o.createElement('script');r.async=1;
				r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
				a.appendChild(r);
			})(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
		</script>
		<!-- Facebook Pixel Code -->
		<script>
		!function(f,b,e,v,n,t,s)
		{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
		n.callMethod.apply(n,arguments):n.queue.push(arguments)};
		if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
		n.queue=[];t=b.createElement(e);t.async=!0;
		t.src=v;s=b.getElementsByTagName(e)[0];
		s.parentNode.insertBefore(t,s)}(window,document,'script',
		'https://connect.facebook.net/en_US/fbevents.js');
		fbq('init', '251268062250530'); 
		fbq('track', 'PageView');
		</script>
		<noscript>
		<img height="1" width="1" 
		src="https://www.facebook.com/tr?id=251268062250530&ev=PageView
		&noscript=1"/>
		</noscript>
		<!-- End Facebook Pixel Code -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PC2JTQB" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	</body>
</html>
