{% extends "base.twig" %}

{% block below_header %}

    <div class="u-wrapper generic-hero">
        <h1 class="u-white-text u-ptb-8 u-text-center generic-hero__title">Stories</h1>
    </div>

{% endblock %}

{% block content %}

<div class="flip-flop-image-grid">
    {% for post in posts %}
    <div class="flip-flop-image-grid__item">
        <div class="flip-flop-image-grid__item-image" style="background-image: url({{ TimberImage(post.get_field('archive_image'))|resize(1440) }}"></div>
        <div class="flip-flop-image-grid__item-details">
            <article class="flip-flop-image-grid__item-details-wrapper">
                <h2 class="flip-flop-image-grid__item-title">{{ post.title }}</h2>
                <p>{{ post.preview.length(50).read_more(false) }}</p>
                <a class="button" href="{{ post.link }}">Learn More</a>
            </article>
        </div>
    </div>
    {% endfor %}
</div>

{% include "pagination.twig" %}
   
{% endblock %}