{% extends "base.twig" %}

{% block below_header %}

    <div class="u-wrapper generic-hero">
        <h1 class="u-white-text u-ptb-8 u-text-center generic-hero__title">{{ post.title }}</h1>
    </div>

{% endblock %}

{% block content %}

    <div class="u-wrapper u-mbt-4">
		<div class="contact__wrapper">

            <div class="contact__nav u-mb-4">
                {% for location in locations %}
                    <button class="contact__nav-button" 
                            @click='currentTab = "{{ location.title }}"' 
                            :class="{ 'contact__nav-button--active' : currentTab === '{{ location.title }}' }">
                                {{ location.title }}
                        </button>
                {% endfor %}
				<button class="contact__nav-button" 
					@click='currentTab = "{{ 'atms' }}"' 
					:class="{ 'contact__nav-button--active' : currentTab === '{{ 'atms' }}' }">
						ATMs
				</button>
            </div>
        
            <div class="u-wrapper u-wrapper--narrow">
                {% for location in locations %}
                    <div class="contact__location" v-show="currentTab === '{{ location.title }}'">
                        <div class="contact__location-details-wrapper u-mb-4">
                            <div class="contact__location-info-wrapper">
                                <div class="h3 contact__location-title">{{ location.title }}</div>
                                <div class="contact__location-phone">Call Us: {{ location.get_field('phone') }}</div>
                                <div class="contact__location-fax u-mb-1">Fax: {{ location.get_field('fax') }}</div>
                                
                                {% set google_address = location.get_field('street_address') ~ ', ' ~ location.get_field('city') ~ ', ' ~ location.get_field('state') ~ ' ' ~ location.get_field('zip') %}
                                <address class="contact__location-address u-mb-2">
                                    {{ location.get_field('street_address') }}<br>
                                    {{ location.get_field('city') }}, {{ location.get_field('state') }} {{ location.get_field('zip') }}<br>
                                    <a href="https://google.com/maps?q={{ google_address|url_encode }}">Get Directions</a>
                                </address>

                                <div class="bold-text">Lobby Hours</div>
                                <div class="contact__location-lobby">
                                    <ul>
                                        {% for item in location.get_field('lobby_hours') %}
                                            <li>
                                                <span>{{ item.date }}</span>
                                                <span>{{ item.time }}</span>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>

                                <div class="bold-text">Drive-Up Hours</div>
                                <div class="contact__location-drive-up">
                                    <ul>
                                        {% for item in location.get_field('drive_up_hours') %}
                                            <li>
                                                <span>{{ item.date }}</span>
                                                <span>{{ item.time }}</span>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>

                            </div>

                            <div class="contact__location-image">
                                <a href="https://google.com/maps?q={{ google_address|url_encode }}" class="u-block">
                                    <img src="{{ TimberImage(location.get_field('map_image')).src|resize(642) }}" />
                                </a>
                            </div>
                        </div>

                        <div class="contact__location-employees">
                            {% for employee in employees_filtered[location.title] %}
                                <div class="contact__location-employee">
                                    <img class="contact__location-employee-image" src="{{ TimberImage(employee.get_field('headshot')).src }}" />
                                    <div class="contact__location-employee-name">{{ employee.title }}</div>
                                    <div>{{ employee.get_field('title') }}</div>
                                    {% if employee.get_field('nmls') %}
                                        <div>NMLS#{{ employee.get_field('nmls') }}</div>
                                    {% endif %}
                                    {% if employee.get_field('email_address') %}
                                        <div class="contact__location-employee-email">
                                            <a href="mailto:{{ employee.get_field('email_address') }}">
                                                {{ employee.get_field('email_address') }}
                                            </a>
                                        </div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
				<div class="contact__location" v-show="currentTab === 'atms'">
					<div class="contact__location-atms">{{ post.get_field('atms_html')|raw }}</div>
				</div>
            </div>

        </div>
    </div>

{% endblock %}

{% block footer_scripts %}
<script type='application/ld+json'>
{ 
	"@context": "http://schema.org", 
	"@type": "Organization", 
	"name": "Farmers State Bank", 
	"url": "https://bankwithfarmers.com/", 
	"logo": "https://bankwithfarmers.com/wp-content/themes/fsb-theme/static/images/logo.png",
	"description": "Farmers State Bank provides a variety of personal and business services including checking, savings, and IRA accounts as well as consumer, agriculture, real estate, and commercial lending.",
	"location": [ 
      	{ 
			"@type": "BankOrCreditUnion", 
			"parentOrganization": {
				"name": "Farmers State Bank"
			},
			"name" : "Farmers State Bank - Westmoreland",
			"address": {
				"@type": "PostalAddress",
				"addressLocality": "Westmoreland",
				"addressRegion": "Kansas",
				"postalCode": "66549",
				"streetAddress": "307 Main St."
			},
			"openingHours": [
				"Mo-Th 08:00-16:00",
				"Fr 08:00-18:00",
				"Sa 08:00-11:30"
			],
			"telephone" : "+1(785) 457-3316",
			"priceRange": "$",
			"image": "https://bankwithfarmers.com/wp-content/themes/fsb-theme/static/images/logo.png"
		},
		{ 
			"@type": "BankOrCreditUnion", 
			"parentOrganization": {
				"name": "Farmers State Bank"
			},
			"name" : "Farmers State Bank - Manhattan",
			"address": {
				"@type": "PostalAddress",
				"addressLocality": "Manhattan",
				"addressRegion": "Kansas",
				"postalCode": "66502",
				"streetAddress": "8685 E HWY 24"
			},
			"openingHours": [
				"Mo-Fr 07:30-18:00",
				"Sa 07:30-11:30"
			],
			"telephone" : "+1(785) 539-9002",
			"priceRange": "$",
			"image": "https://bankwithfarmers.com/wp-content/themes/fsb-theme/static/images/logo.png"
		},
		{ 
			"@type": "BankOrCreditUnion", 
			"parentOrganization": {
				"name": "Farmers State Bank"
			},
			"name" : "Farmers State Bank - Onaga",
			"address": {
				"@type": "PostalAddress",
				"addressLocality": "Onaga",
				"addressRegion": "Kansas",
				"postalCode": "66521",
				"streetAddress": "301 Leonard Street"
			},
			"openingHours": [
				"Mo-Th 08:00-16:00",
				"Fr 08:00-18:00",
				"Sa 08:00-11:30"
			],
			"telephone" : "+1(785) 889-4211",
			"priceRange": "$",
			"image": "https://bankwithfarmers.com/wp-content/themes/fsb-theme/static/images/logo.png"
		}

	]
}
</script>
{% endblock %}