{% set item = post %}
{% set table = item.get_field('table') %}
{% if ( table ) %}
    <div class="pattern-table pattern-table__{{ table.body[0]|length }}-columns responsive u-mb-4">
        {% if item.get_field('heading') %}
            <div class="pattern-table__heading">{{ item.get_field('heading') }}</div>
        {% endif %}
        <table>
            {% if table.header %}
                <thead>
                    <tr>
                        {% for th in table.header %}
                            {# c is the table cell content #}
                            <th>{{ th.c }}</th>
                        {% endfor %}
                    </tr>
                </thead>
            {% endif %}
            <tbody>
                {% for tr in table.body %}
                    <tr>
                        {% for td in tr %}
                            {% set datacolumn = '' %}
                            {% if table.header %}
                                {% set datacolumn = table.header[loop.index0].c %}
                            {% endif %}
                            {# c is the table cell content #}
                            <td data-column="{{datacolumn}}">{{ td.c }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}