{% extends "base.twig" %}

{% block below_header %}

    <div class="u-wrapper generic-hero">
        <h1 class="u-white-text u-ptb-8 u-text-center generic-hero__title">{{ post.title }}</h1>
    </div>

{% endblock %}

{% block content %}

<div class="flip-flop-image-grid">
    {% for item in post.get_field('flip_flop_grid_items') %}
    <div class="flip-flop-image-grid__item">
        <div class="flip-flop-image-grid__item-image" style="background-image: url({{ TimberImage(item.image)|resize(1440) }}"></div>
        <div class="flip-flop-image-grid__item-details">
            <article class="flip-flop-image-grid__item-details-wrapper">
                <h2 class="flip-flop-image-grid__item-title">{{ item.title }}</h2>
                <p>{{ item.description }}</p>
                <a class="button" href="{{ item.link }}">Learn More</a>
            </article>
        </div>
    </div>
    {% endfor %}

</div>
   
{% endblock %}