{% extends "base.twig" %}

{% block below_header %}
     <div class="u-wrapper u-mtb-10">
        {% if post.get_field('home_header_text') %}
        <div class="home-hero-callout">
            <h1>{{ post.get_field('home_header_text') }}</h1>
            {% if post.get_field('home_header_link') %}
                <a href="{{ post.get_field('home_header_link').url }}" class="button white">{{ post.get_field('home_header_link').title }}</a>
            {% endif %}
        </div>
        {% endif %}
    </div>

    <div class="home-quicklinks u-shadow u-wrapper">
        <ul>
            {% for item in post.get_field('hero_bar_quicklinks') %}
                <li>
                    <a href="{{ item.link }}">
                        <div class="home-quicklinks__icon">{% include 'svg/' ~ item.icon ~ '.svg' %}</div>
                        <div>{{ item.text }}</div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}

{% block content %}

<div class="u-wrapper u-mb-4">
    <div class="home-user-cta">
        {% if post.get_field('home_cta_image') %}
            <img src="{{post.get_field('home_cta_image').url }}" alt="{{post.get_field('home_cta_image').alt }}" />
        {% endif %}
        <div class="home-user-cta__content">
            <h3 class="home-user-cta__title">{{ post.get_field('home_cta_title') }}</h3>
            <p>{{ post.get_field('home_cta_text') }}</p>
            {% if post.get_field('home_cta_link') %}
                <a href="{{ post.get_field('home_cta_link').url }}" class="button">{{ post.get_field('home_cta_link').title }}</a>
            {% endif %}
        </div>
    </div>
</div>

<div class="home-user-hero u-mb-4" style="background-image: url({{ TimberImage(post.get_field('home_hero_image'))|resize(3200)}});">
    <div class="u-wrapper">
        <div class="home-user-hero__content">
            <h3 class="home-user-hero__title">{{ post.get_field('home_hero_title') }}</h3>
            <div class="home-user-hero__subtitle">{{ post.get_field('home_hero_subtitle') }}</div>
            <p class="home-user-hero__description">{{ post.get_field('home_hero_description') }}</p>
            {% if post.get_field('home_hero_link') %}
                <a href="{{ post.get_field('home_hero_link').url }}" class="button white">{{ post.get_field('home_hero_link').title }}</a>
            {% endif %}
        </div>
    </div>
</div>

<div class="u-wrapper u-mb-4">
    <div class="home-story-highlight">
        <div class="home-story-highlight__details">
            <h3>{{ post.get_field('home_story_title') }}</h3>
            <p>{{ post.get_field('home_story_description') }}</p>
            <div class="u-mb-1">
                <a href="{{ post.get_field('home_story_link').url }}" class="button white">{{ post.get_field('home_story_link').title }}</a>
            </div>
            <div>
                <a href="{{ post.get_field('home_all_stories_link').url }}">See more stories</a>
            </div>
        </div>
        <div class="home-story-highlight__image">
            <img src='{{ TimberImage(post.get_field("home_story_image"))|resize(1440) }}' alt="{{ TimberImage(post.get_field("home_story_image")).alt }}" />
        </div>
    </div>
</div>
   
{% endblock %}