<!DOCTYPE HTML>
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" {{site.language_attributes}}> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" {{site.language_attributes}}> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" {{site.language_attributes}}> <![endif]-->
<!--[if gt IE 8]><!--><html class="" {{site.language_attributes}}> <!--<![endif]-->
<head>
	<meta charset="{{site.charset}}">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="google-site-verification" content="9R0XjO6ZM8aE_6CiJs3ZAcqYsz-s1CXK0usRjhBtIRs">
	<meta name="msvalidate.01" content="3E742BEA69A0EE60A4E64DCF26DAF755" />
	<link rel="pingback" href="{{site.pingback_url}}" />
	{{ function('wp_head') }}
	<link rel="stylesheet" href="https://use.typekit.net/fzq0npq.css">
	<link rel="stylesheet" href="{{site.theme.link}}/style.css?cachebust={{ csscache }}" type="text/css" media="screen" />
	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-PC2JTQB');</script>
	<!-- End Google Tag Manager -->