{% extends "base.twig" %}

{% block content %}
<div class="u-wrapper u-wrapper--narrow u-mbt-4">
	{% for post in posts %}
		{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
	{% endfor %}
	{% include "pagination.twig" %}
</div>
{% endblock %}