{% extends "base.twig" %}

{% block below_header %}

    <div class="u-wrapper generic-hero">
        <h1 class="u-white-text u-ptb-8 u-text-center generic-hero__title">{{ post.title }}</h1>
    </div>

    <div class="u-shadow u-wrapper account-overview-topbar">
        <div class="u-wrapper u-wrapper--narrow account-overview-topbar__inner-wrapper">
            <h2>Loan Overview</h2>
            <p>{{ post.get_field('loan_overview') }}</p>
        </div>
    </div>

{% endblock %}

{% block content %}

<div class="u-wrapper--narrow u-wrapper u-mb-2">

    <div class="u-mb-4">{{ post.content }}</div>

</div>

{% if post.get_field('loan_application_links') %}
    <div class="u-shadow u-wrapper pattern-link-bar">
        <div class="u-wrapper u-wrapper--narrow pattern-link-bar__inner-wrapper">
            <div class="h2">Ready to Apply?</div>

            <div class="pattern-link-bar__features">
                <ul>
                    {% for item in post.get_field('loan_application_links') %}
                        <li>
                            <a href="{{ item.link.url }}">
                                <div class="pattern-link-bar__features-icon">{% include 'svg/' ~ item.icon ~ '.svg' %}</div>
                                <div>{{ item.link.title }}</div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endif %}
   
{% endblock %}