{% extends "base.twig" %}

{% block below_header %}

    <div class="u-wrapper generic-hero">
        <h1 class="u-white-text u-ptb-8 u-text-center generic-hero__title">{{ post.title }}</h1>
    </div>

{% endblock %}

{% block content %}

    <div class="u-wrapper u-wrapper--narrow u-mbt-4">
		
        {% if post.content %}
            <div class="u-mb-4">{{ post.content }}</div>
        {% endif %}

        <div class="u-mb-4 newsletters">
            {% for newsletter in newsletters %}
                <article class="newsletters__item">
					<div class="newsletters__item--left">
						<h2 class="h3">{{ newsletter.title }}</h2>
						{# <time>{{ newsletter.get_field('date') }}</time> #}
						<p><time>{{ newsletter.date }}</time></p>
					</div>
                    <a target="_blank" href="{{ newsletter.get_field('file') }}" class="button outline">Read</a>
                </article>
            {% endfor %}
        </div>
    </div>

{% endblock %}