{% extends "base.twig" %}

{% block below_header %}

    <div class="u-wrapper generic-hero">
        <h1 class="u-white-text u-ptb-8 u-text-center generic-hero__title">{{ post.title }}</h1>
    </div>

{% endblock %}

{% block content %}
    {% if wide %}
    <div class="u-wrapper u-mbt-4">
    {% else %}
    <div class="u-wrapper u-wrapper--narrow u-mbt-4">  
	{% endif %}

		{% if debit_intro %}
			<div class="debit-card-header">
				<div class="debit-header">
					<div class="debit-header--text">
						<h4 class="header-modifier">{{ debit_intro.left_header_text}}</h4>
						<p>{{ debit_intro.left_paragraph }}</p>
					</div>
					<img class="single-card" src="{{ TimberImage( debit_intro.right_image ).src }}" alt="{{ TimberImage( debit_intro.right_image ).alt }}">
				</div>

				<div class="debit-header">
					<img src="{{ TimberImage( debit_intro.left_image ).src }}" alt="{{ TimberImage( debit_intro.left_image ).alt }}">
					<div class="debit-header--text">
						<h4 class="header-modifier">{{ debit_intro.right_header_text }}</h4>
						<p>{{ debit_intro.right_paragraph }}</p>
					</div>
				</div>
			</div>
		{% endif %}

		<div>{{ post.content }}</div>

		{% if faqs %}
			<section class="faqs">
				{% for faq in faqs %}

					{% if faq.faq_section_header %}
						<h2 class="faqs-section-title">{{ faq.faq_section_header }}</h2>
					{% endif %}

					{% for qa in faq.faq_q_and_a %}
						<div class="faqs__qa">
							<div class="faqs__qa--content">
								<button class="accordion-label u-bold" title="{{ qa.faq_question }}">{{ qa.faq_question }}</button>
								<div class="accordion-content">{{ qa.faq_answer }}</div>
							</div>
						</div>
					{% endfor %}

				{% endfor %}
			</section> {# /.[faqs] main section #}
		{% endif %}

		{% if apps_grid %}
			<section class="apps-grid">
				{% for item in apps_grid %}
					<div class="apps-grid__grid-item">
						<h5>{{ item.grid_item_header }}</h5>
						<a class="button" href="{{ item.grid_button_link }}">{{ item.grid_button_text }}</a>
					</div>
				{% endfor %}
			</section> {# /.apps-grid #}
		{% endif %}

	</div> {# /.u-wrapper #}
{% endblock %}