{% extends "base.twig" %}

{% block below_header %}

    <div class="u-wrapper generic-hero">
        <h1 class="u-white-text u-ptb-8 u-text-center generic-hero__title">{{ post.title }}</h1>
    </div>

{% endblock %}

{% block content %}

    <div class="u-wrapper u-wrapper--narrow u-mbt-4">
		<div>{{ post.content }}</div>
    </div>

{% endblock %}