.blog, .archive {
	
}

.blog-wrapper {
	
}

.blog-intro {
	
}

.blog-posts {
	
}

.tease-post {
	
}

.blog-sidebar {
	
}

.post-thumbnail {
	width: 100%;
	display: block;
}

.pagination {
	text-align: center;
	margin: 4em 0;
	.pages {
		display: inline-block;
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			display: inline-block;

			+ li {
				margin-left: 1em;
			}

			a {
				display: inline;
				padding: 0 .25em;
			}
		}
	}

	.next {
		margin-left: 1em;
	}
}

.pagination:empty {
	display: none;
}