.button, a.button, button {
	vertical-align: middle;
	white-space: normal;
	line-height: 1;
	font-size: 1rem;
	text-decoration: none;
	display: inline-block;
	font-family: $font-body;
	transition: all 100ms linear;
	border: none;
	cursor: pointer;
	font-weight: 400;
	-webkit-appearance: none;
	appearance: none;
	padding: .75rem 2rem;
	// min-width: 10rem;
	text-align: center;
	border-radius: 3px;
	border: 1px solid $dark-blue;
	color: $dark-blue;
	
	
	&:hover, &:active, &:focus {

	}

	&:focus {
		outline: 1px dashed black;
	}

	&.large {
		font-size: 1.5rem;
	}

	&.white {
		background: $white;
		color: $dark-blue;
		border-color: $white;
	}

	&.outline {
		background: $white;
		color: $dark-blue;
		border-color: $dark-blue;
	}

	&--large {
		padding: 1rem 2rem;
	}

	&[disabled]{
		cursor: not-allowed;
		color: $black;
	}

}
