.comments {
	margin-top: 4em;
}

#commentform {
	label {
		display: block;
	}
	
	input, textarea {
		width: 100%;
		display: block;
	}
	.comment-form-comment label, textarea {
		display: block;
	}

	.required {
		
	}

	.comment-form-url {
		display: none;
	}

}