.faqs-section-title {
	margin-top: 2rem;
	text-align: left;
}

.faqs__qa h4 {
	font-weight: 400;
	text-transform: uppercase;
}

.faqs__qa--content {
	position: relative;
	padding-bottom: 1rem;

	button {
		all: unset;
		font-family: $font-body;
	}

	.accordion-label {
		max-width: 48rem;
		position: relative;
		cursor: pointer;

		&:after {
			position: absolute;
			top: 0.3rem;
			content: '\f054';
			font-family: 'FontAwesome';
			color: $blue;
			font-size: 0.7rem;
			margin-left: 0.4rem;
			transition: all 0.4s ease-out;
		}
	}

	.acc-toggled {
		&:after {
			transform: rotate(90deg);
			-moz-transform: rotate(91deg);
		}
	}
}