a {
	color: $blue;
	&:hover {
		text-decoration: underline;
	}

	&.gray {
		text-decoration: none;
		color: $gray;

		&:hover {
			text-decoration: underline;
		}
	}
}

a.arrow {
	display: inline-block;
	&:after {
		margin-left: .5em;
		display: inline-block;
		content: '';
		width: 0;
		height: 0;
		border-left: .35em solid currentColor;
		border-top: .35em solid transparent;
		border-bottom: .35em solid transparent;
	}
}

.no-scroll {
	overflow-x: hidden;
	overflow-y: hidden;
	z-index: -1;
}

[type="text/template"], [type="x/template"] {
	display: none;
}

.mfp-content {
	[type="text/template"] {
		display: block;
	}
}

.mfp {
	background: $white;
	width: 90%;
	max-width: 75em;
	margin: 0 auto;
	position: relative;
	padding: 2rem;
}

.mfp-close {
	margin: 0;
}

.slick-slider {

	.slick-list {
		z-index: 1;
	}

	.slick-arrow, .slick-prev, .slick-next {
		z-index: 10;
		width: 3rem;
		height: 3rem;
		background: rgba($white, .25);
		border-radius: 50%;
		
		&:before {
			font-family: 'FontAwesome', 'slick', sans-serif;
			font-size: 2rem;
			color: $white;
			opacity: 1;
			position: relative;
		}
	}
	.slick-prev {
		left: 1.5rem;

		&:before {
			content: '\f0d9';
			right: 2px;
		}
	}
	.slick-next {
		right: 1.5rem;

		&:before {
			content: '\f0da';
			left: 2px;
		}
	}
}

.pattern-header-image {
	min-height: 40vw;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	margin-bottom: 2rem;

	@include mq($tablet){
		min-height: 24rem;
	}
}

.pattern-modal {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 100;
	display: flex;
	align-items: center;
	justify-content: center;

	&--wide {
		.pattern-modal__content {
			flex: 0 1 75rem;
		}
	}

	&__bg {
		background: rgba(31, 31, 31, .95);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 90;
		transition: opacity 200ms ease;
	}

	&__content {
		max-height: calc(100vh - 5rem);
		overflow-y: scroll;
		flex: 0 1 35rem;
		margin: 2rem;
		position: relative;
		background: $white;
		padding: 3rem 2rem;
		z-index: 110;
		transition: all 200ms ease;
		box-shadow: 0 0 8px $black;
	}

	&__close-button {
		position: absolute;
		top: .5rem;
		right: .5rem;
		min-width: 0;
	}
}

.modal-enter {
	opacity: 0;

	.pattern-modal__content {
		transform: scale(1.2);
		opacity: 0;
	}

	.pattern-modal__bg {
		opacity: 0;
	}
}

.modal-leave-active {
	opacity: 0;
}

.generic-hero {
	&__title {
		max-width: 42rem;
		margin: 0 auto;
		letter-spacing: 10px;
		line-height: 1.25;
	}
}

.flip-flop-image-grid {
	&__item {
		display: flex;

		&:nth-child(even){
			flex-direction: row-reverse;
		}
	}

	&__item-image {
		display: none;

		@include mq($small-tablet){
			min-width: 50%;
			display: block;
			background-size: cover;
			background-position: center center;
			min-height: 30vw;
		}
	}

	&__item-details {
		padding: 1rem;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-grow: 1;
	}

	&__item-details-wrapper {
		max-width: 28rem;
		padding: 1rem;
	}

	&__item-title {
		color: $dark-blue;
		text-decoration: none;
		text-transform: uppercase;
	}
}

.account-overview {
	&-topbar {
		background: $white;
		padding: 2rem 1rem;
		margin-bottom: 10rem;
		transform: translateY(50%);

		&__inner-wrapper {
			justify-content: space-between;
			align-items: center;
			
			@include mq($small-tablet){
				display: flex;
			}

			h2 {
				color: $dark-blue;
				order: 1;
				@include mq($small-tablet){
					margin: 0;
				}
			}

			&:after {
				@include mq($small-tablet){
					display: block;
					content: '';
					width: 2px;
					background: $dark-blue;
					height: 6rem;
					order: 2;
					margin: 0 4rem;
				}
			}

			p {
				order: 3;
				margin: 0;
				font-weight: 700;
			}
		}
	}

	&-features {
		order: 3;

		ul {
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			flex-wrap: wrap;
			list-style: none;
			margin: 0;
			padding: 0;
		}
	
		a {
			display: block;
			text-align: center;
			color: $black;
			text-decoration: none;
		}
	
		li {
			padding: .5rem;
			// width: 50%;
			margin-bottom: 1rem;
			margin-right: 2rem;
	
			@include mq($small-tablet){
				width: auto;
				margin-bottom: 0;
			}
		}
	
		&__icon {
			svg {
				display: inline-block;
				width: 4rem;
				height: 4rem;
			}
		}
	}

	&-details {
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}
		li {
			margin-bottom: 1.5rem;
		}
	}
}

.pattern-table {
	border: 1px solid $black;
	padding: 2rem;

	&__heading {
		text-transform: uppercase;
		color: $dark-blue;
		margin-bottom: 1rem;
		font-family: $font-heading;
		letter-spacing: .125em;
		font-weight: 700;
	}

	table {
		width: 100%;
		border-collapse: collapse;
		margin-bottom: 0;

		th {
			padding-bottom: 1rem;
		}

		tr {

			td {
				border-bottom: 1px solid $black;
				padding: .5rem 0;
				text-align: center;
			}

			&:last-child {
				td {
					border-bottom: none;
				}
			}
		}
	}

	&__2-columns {
		table tr td {
			width: 50%;
			border-left: 1px solid $black;
			padding: .5rem 2rem;
			text-align: left;

			&:first-child {
				border-left: none;
				padding-left: 0;
				font-weight: 700;
			}
		}
	}

	&.responsive {
		thead {
			display: none;

			@include mq($small-tablet){
				display: table-header-group;
			}
		}
		tr {
			padding: 2rem;
			margin: 0 -2rem;
			display: block;

			&:nth-child(odd){
				background: $light-gray;
				@include mq($small-tablet){
					background: none;
				}
			}

			@include mq($small-tablet){
				display: table-row;
			}
		}

		&.pattern-table__2-columns {
			td {
				text-align: left;
			}
		}

		td {
			display: block;
			text-align: left;
			border-bottom: none;
			margin: 0;

			&:before {
				margin-right: 1rem;
				font-weight: 700;
				content: attr(data-column);
			}

			@include mq($small-tablet){
				display: table-cell;
				text-align: center;
				border-bottom: 1px solid $black;
				margin-bottom: 1rem;
				&:before {
					display: none;
				}
			}
		}
	}
}

.pattern-footer-cta {
	background: $dark-blue;
	color: $white;
	display: flex;
	padding: 2rem !important;
	align-items: center;
	justify-content: space-between;

	&__title {
		font-family: $font-heading;
		letter-spacing: .125em;
		font-size: 1.25rem;
		font-weight: 700;
		text-transform: uppercase;
		
		@include mq($tablet){
			letter-spacing: 5px;
			font-size: 1.5rem;
		}
	}

	.button {
		font-weight: 700;
	}
}

.pattern-link-bar {
	background: $white;
	padding: 2rem 1rem;

	&__inner-wrapper {
		justify-content: space-between;
		align-items: center;
		
		@include mq($small-tablet){
			display: flex;
		}

		.h2 {
			color: $dark-blue;
			order: 1;
			max-width: 12rem;
			@include mq($small-tablet){
				margin: 0;
			}
		}

		&:after {
			@include mq($small-tablet){
				display: block;
				content: '';
				width: 1px;
				background: $dark-blue;
				height: 6rem;
				order: 2;
				margin: 0 4rem;
			}
		}

		p {
			order: 3;
			margin: 0;
			font-weight: 700;
		}
	}

	&__features {
		order: 3;

		ul {
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			flex-wrap: wrap;
			list-style: none;
			margin: 0;
			padding: 0;
		}
	
		a {
			display: block;
			text-align: center;
			color: $black;
			text-decoration: none;
		}
	
		li {
			padding: .5rem;
			// width: 50%;
			margin-bottom: 1rem;
			margin-right: 2rem;
	
			@include mq($small-tablet){
				width: auto;
				margin-bottom: 0;
			}
		}
	
		&-icon {
			svg {
				display: inline-block;
				width: 4rem;
				height: 4rem;
			}
		}
	}

	&-details {
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}
		li {
			margin-bottom: 1.5rem;
		}
	}
}

.newsletters {
	max-width: 40rem;
	margin: 0 auto;

	&__item {
		display: flex;
		border-top: 1px solid $dark-blue;
		padding: 1.5rem 0;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		&--left {
			.h3 {
				margin-bottom: 0;
			}

			p {
				text-align: center;
				padding: 0 0 0.5rem 0;
			}
		}

		@include mq($newsletter-bp) {
			flex-direction: row;
			justify-content: space-between;

			&--left {
				p {
					margin: 0;
					text-align: left;
					padding-bottom: 0;
				}
			}
		}

		&:last-child {
			border-bottom: 1px solid $dark-blue;
		}

		h1 {
			flex: 1;
			margin: 0;
		}

		time {
			min-width: 16rem;
		}

		a {
			min-width: 12rem;
		}
	}
}