$susy: (
  flow: ltr,
  math: fluid,
  output: float,
  gutter-position: after,
  container: $desktop,
  container-position: center,
  columns: 12,
  gutters: 1.25rem,
  column-width: false,
  global-box-sizing: border-box,
  last-flow: to,
  debug: (
		image: hide,
		color: rgba(#66f, .25),
		output: background,
		toggle: top right,
	),
	use-custom: (
		background-image: true,
		background-options: false,
		box-sizing: true,
		clearfix: false,
		rem: true,
	)
);

@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}
.clearfix {
	@include clearfix;
}

.small-container {
	@include container(45rem);
}