.announcements-bar {
	max-width: 100%; // 1440px
	margin: 0 auto;

	p {
		max-width: 75rem;
		margin: 0 auto;
		padding-top: 0.75rem;
		padding-bottom: 0.75rem;
		padding-left: 1rem;
		padding-right: 1rem;
		font-size: 1.2rem;
		color: $white;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-weight: 600;

		@include mq($tablet) {
			padding-left: 2.3rem;
		}
	}
}

.header-wrapper {
    background-color: $dark-blue;
    background-size: cover;
    background-position: center center;
	background-repeat: no-repeat;
}

// blending affects nav bar area
.blender {
	position: relative;

	&:before {
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0; 
		left: 0;
		z-index: 1; // must be 1 (higher covers buttons)
		background-color: $dark-blue;
		mix-blend-mode: multiply;
	}
}

#header {
    display: grid;
    grid-template-columns: auto minmax(auto,$desktop) auto;
    grid-template-rows: auto;
    z-index: 1;
    position: relative;
} // #header


#header-logo {
    display: block;
    max-width: 18rem;
    display: flex;
	align-items: center;
	padding-left: 0.5rem;
	padding-right: 2.3rem;
	margin: 1.6rem 1.1rem 1.6rem 0;
	border-right: 1px solid $white;

    img {
        // IE 11 nonsense
        display: block;
		width: 100%;
    }
}

#header-mobile-logo {
    display: none;
}

#nav-main {
    display: flex;
}

.nav-inner-wrap {
    flex: 1;
    display: flex;
}

#primary-menu {
    flex: 1;
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: center;
    position: relative;

    .sub-menu {
        list-style: none;
    }

    .menu-heading {
        font-family: $font-heading;
        font-weight: 700;
        text-transform: uppercase;
        color: $dark-blue;
        margin-bottom: 1rem;
        display: inline-block;
        letter-spacing: .125em;
    }

    > li {
        width: calc(100%/3);
        display: flex;
        align-items: center;
		justify-content: center;
		
		&:hover {
			> span {
				color: $dark-blue;
			}
		}

        > a, > span {
            // height: 100%;
            // display: flex;
            width: 100%;
            height: 3rem;
            max-width: 8.5rem;
            align-items: center;
            justify-content: center;
            font-family: $font-heading;
            font-size: 1rem;
            text-decoration: none;
            font-weight: 700;
            text-transform: uppercase;
            color: $white;
			letter-spacing: .125em;
        }

        &:hover {
			background: $white;
			
            > .sub-menu {
                display: block;
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                min-height: 12rem;
                display: flex;
                background: $white;
                margin: 0;
                padding: 1rem;
                justify-content: space-around;

                > li {
                    margin: 0 1rem;
                }

                .sub-menu {
                    margin: 0;
                    padding: 0;
                }
            }
        }

        &:focus-within {
            // ie doesn't recognize focus-within
            background: $white;
            > .sub-menu {
                display: block;
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                min-height: 12rem;
                display: flex;
                background: $white;
                margin: 0;
                padding: 1rem;
                justify-content: space-around;

                > li {
                    margin: 0 1rem;
                }

                .sub-menu {
                    margin: 0;
                    padding: 0;
                }
            }
        }

        > .sub-menu {
            display: none;
        }
    }
}

#remote-login {
    background: $white;
    padding: 1rem;
    margin-bottom: -1.5rem;

    .remote-login__header {
        font-size: 1.25rem;
    }

    .remote-login__header-wrapper {
        margin-bottom: .5rem;
    }

    .input-group {
        border: 1px solid $gray;
        display: flex;
        border-radius: 3px;
        margin-bottom: .5rem;
        padding-left: .5rem;
        overflow: hidden;

        label {
            flex-grow: 1;
            display: flex;
            align-items: center;
        }

        input[type="text"], input[type="password"]{
            background: none;
            border: none;
            width: 100%;
            display: block;

            &:focus {
                outline: none;
            }
        }

        button[type="submit"]{
            background: $dark-blue;
            padding: .25rem .5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 0;
            border: none;
        }
    }

    .switch-type {
        transition: all 200ms linear;
        background: none;
        padding: 0;
        display: inline-block;
        line-height: 1.5;
        font-weight: 400;
        vertical-align: inherit;
        border: none;

        &:first-of-type {
            margin-right: .5rem;
        }

        &.active {
            font-weight: 700;
            color: $blue;
            text-decoration: underline;
        }
    }
}

@include mq($until: $tablet){
    #nav-main {
        padding: .5rem 1rem;
        background: $dark-blue;
        justify-content: space-between;
        align-items: flex-start;

        .menu-toggle-container {
            order: 1;
            display: flex;
            align-items: center;
            align-self: stretch;

            button {
                background: none;
                border: none;
                width: 2rem;
                padding: 0;
                border-radius: 0;

                img {
                    display: block;
                    width: 100%;
                    height: auto;
                }
            }
        }

        .login-toggle-container {
            order: 3;
            display: flex;
            align-items: center;
            align-self: stretch;
            
            button {
                background: none;
                border: none;
                width: 2rem;
                padding: 0;

                img {
                    display: block;
                    width: 100%;
                    height: auto;
                }
            }
        }

        #header-mobile-logo {
            max-width: none;
            order: 2;
            background: $dark-blue;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            align-self: center;
            
            img {
                width: 14rem;
                height: auto;
            }
        }

        #header-logo {
            display: none;
        }

        .nav-inner-wrap {
            padding: 1rem;
            height: 100vh;
            overflow-y: scroll;
            position: absolute;
            left: 0;
            transform: translateX(-100%);
            transition: transform 200ms linear;
            background: $white;
            width: 300px;
            display: block;
            padding-bottom: 4rem;

            #primary-menu {
                display: block;

                li {
                    display: block;
                    width: 100%;
                    margin: 0;
                    margin-bottom: 1rem;
                }

                .sub-menu {
                    display: block;
                    padding: 0;
                    position: static !important;
                }
            }
        }

        #remote-login {
            height: 100vh;
            position: absolute;
            transform: translateX(100%);
            right: 0;
            transition: transform 200ms linear;
            width: 300px;
        }

        &.login-open {
            #remote-login {
                transform: translateX(0);
            }

            #login-toggle {
                transform: translateX(-300px);
            }

            #menu-toggle {
                display: none;
            }
        }

        &.menu-open {
            .nav-inner-wrap {
                transform: translateX(0);
            }

            #menu-toggle {
                transform: translateX(300px);
            }

            #login-toggle {
                display: none;
            }
        }
    }
}