// Debit Card Intro Header - default template
.debit-card-header {
	max-width: 100%;
	margin: 0 auto 5rem;

	.header-modifier {
		text-transform: uppercase;
		letter-spacing: .125em;
		color: $dark-blue;
	}

	.debit-header {
		display: flex;
		margin: 4rem auto;
		width: 100%;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;

		&:last-child { flex-wrap: wrap-reverse; }

		// 680px is where the double cards break to a newline, so we make both of them break to a newline here instead
		&--text {
			max-width: 100%;
			@include mq(680px) { max-width: 24.125rem; }
		}

		img {
			max-width: 22rem;
			@include mq(680px) { max-width: 100%; }
		}

		// this image is larger and looks disproportionate 
		.single-card {
			max-width: 20rem;
			@include mq(680px) { max-width: 100%; }
		}
	}
}

.apps-grid {
	display: grid;
	max-width: 100%;
	grid-template-columns: repeat(auto-fit, minmax(15rem, 15rem));
	column-gap: 2.5rem; //	   [(1.25 * 2) + (20 * 3)] = 62.5
	row-gap: 2.5rem;
	justify-content: center;
	margin: 3.5rem auto;

	&__grid-item {
		position: relative;
		min-height: 11.25rem;
		padding: 1.25rem;
		border: 1px solid $dark-blue;
		border-radius: 3px;
		background-color: #f0f0f0;

		h5 {
			font-family: $font-heading;
			font-size: 0.9375;
			color: $dark-blue;
			letter-spacing: 2px;
			text-transform: uppercase;
		}

		.button {
			position: absolute;
			width: 12.5rem;
			left: 50%;
			transform: translateX(-50%);
			bottom: 1.25rem;
		}
	}
}